<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="wrapper">
  <section class="chat-area">
    <header>
      <a href="users.php" class="back-icon"><i class="fas fa-arrow-left"></i></a>
      <img src="https://via.placeholder.com/150" alt="">
      <div class="details">
        <span>Name</span>
        <p>Active Now</p>
      </div>
    </header>
    <div class="chat-box">
      <div class="chat outgoing">
        <div class="details">
          <p>Hello, World!</p>
        </div>
      </div>
      <div class="chat incoming">
        <img src="https://via.placeholder.com/150" alt="">
        <div class="details">
          <p>Hello Boy</p>
        </div>
      </div>
    </div>
    <form action="#" class="typing-area">
      <input type="text" class="incoming_id" name="incoming_id" value="<?php echo $user_id; ?>" hidden>
      <input type="text" name="message" class="input-field" placeholder="Type a message here..." autocomplete="off">
      <button class="active"><i class="fab fa-telegram-plane"></i></button>
    </form>
  </section>
</div>
</body>
</html>
