<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="wrapper">
  <section class="users">
    <header>
      <div class="content">
        <img src="https://via.placeholder.com/150" alt="">
        <div class="details">
          <span>User Name</span>
          <p>Status</p>
        </div>
      </div>
      <a href="php/logout.php?logout_id=<?php echo $row['unique_id']; ?>" class="logout">Logout</a>
    </header>
    <div class="search">
      <span class="text">Select an user to start chat</span>
      <!-- input.show 보여짐 -->
      <input type="text" placeholder="Enter name to search...">
      <!-- button.active toggle -->
      <button><i class="fas fa-search"></i></button>
    </div>
    <div class="users-list">
      <a href="">
        <div class="content">
          <img src="https://via.placeholder.com/150" alt="">
          <div class="details">
            <span>Tae Hoon Kim</span>
            <p>Hi</p>
          </div>
        </div>
        <span class="status-dot offline"><i class="fas fa-circle"></i></span>
      </a>
    </div>
  </section>
</div>
</body>
</html>
